integrations/n8n-meta-webhook.json
{
  "name": "Turdo CRM — Meta Webhook (IG + FB)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "meta-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-verify",
      "name": "Webhook Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Webhook Receive (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": { "responseCode": 200 }
      },
      "id": "verify-response",
      "name": "Return hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parsear el evento de Meta (Instagram DM o Facebook Messenger)\nconst body = $input.first().json.body;\nconst results = [];\n\nif (!body || !body.entry) return [];\n\nfor (const entry of body.entry) {\n  // Facebook Messenger\n  if (entry.messaging) {\n    for (const msg of entry.messaging) {\n      if (!msg.message || msg.message.is_echo) continue;\n      results.push({\n        channel: 'facebook',\n        sender_id: msg.sender.id,\n        recipient_id: msg.recipient.id,\n        message_id: msg.message.mid,\n        text: msg.message.text || '[adjunto]',\n        timestamp: new Date(msg.timestamp).toISOString(),\n        page_id: entry.id,\n      });\n    }\n  }\n  // Instagram DM\n  if (entry.changes) {\n    for (const change of entry.changes) {\n      if (change.field !== 'messages') continue;\n      const val = change.value;\n      if (!val.messages) continue;\n      for (const msg of val.messages) {\n        if (msg.from?.id === val.metadata?.phone_number_id) continue; // outbound\n        results.push({\n          channel: 'instagram',\n          sender_id: msg.from?.id || val.sender?.id,\n          recipient_id: val.recipient?.id,\n          message_id: msg.id,\n          text: msg.text?.body || msg.image ? '[imagen]' : '[adjunto]',\n          timestamp: new Date(parseInt(msg.timestamp) * 1000).toISOString(),\n          ig_account_id: val.metadata?.phone_number_id,\n        });\n      }\n    }\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "parse-event",
      "name": "Parsear evento Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM contacts WHERE channel_id = '{{ $json.sender_id }}' AND channel = '{{ $json.channel }}' LIMIT 1"
      },
      "id": "find-contact",
      "name": "Buscar contacto existente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 500],
      "notes": "Conectar con credenciales de Supabase (PostgreSQL directo)"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parsear evento Meta').first().json;\nconst existing = $input.all();\n\nif (existing.length > 0 && existing[0].json.id) {\n  return [{ json: { contact_id: existing[0].json.id, is_new: false, ...parsed } }];\n} else {\n  return [{ json: { contact_id: null, is_new: true, ...parsed } }];\n}"
      },
      "id": "check-existing",
      "name": "¿Contacto nuevo?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "contacts",
        "columns": "channel, channel_id, status, created_at",
        "additionalFields": {}
      },
      "id": "create-contact",
      "name": "Crear contacto nuevo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1120, 400],
      "notes": "Solo si is_new = true"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "messages",
        "columns": "contact_id, direction, content, channel, meta_mid, read, created_at"
      },
      "id": "save-message",
      "name": "Guardar mensaje",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": { "responseCode": 200 }
      },
      "id": "ok-response",
      "name": "Responder OK a Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 500]
    }
  ],
  "connections": {
    "Webhook Verify (GET)": { "main": [[{ "node": "Return hub.challenge", "type": "main", "index": 0 }]] },
    "Webhook Receive (POST)": { "main": [[{ "node": "Parsear evento Meta", "type": "main", "index": 0 }]] },
    "Parsear evento Meta": { "main": [[{ "node": "Buscar contacto existente", "type": "main", "index": 0 }]] },
    "Buscar contacto existente": { "main": [[{ "node": "¿Contacto nuevo?", "type": "main", "index": 0 }]] },
    "¿Contacto nuevo?": { "main": [[{ "node": "Crear contacto nuevo", "type": "main", "index": 0 }]] },
    "Crear contacto nuevo": { "main": [[{ "node": "Guardar mensaje", "type": "main", "index": 0 }]] },
    "Guardar mensaje": { "main": [[{ "node": "Responder OK a Meta", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
